{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'adminpanel/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="{% static 'adminpanel/css/dashboard.css' %}" rel="stylesheet">
    <link href="{% static 'adminpanel/css/style.css' %}" rel="stylesheet">
</head>

<body>

    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="{% url 'login_page' %}">AZ23RU</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <form action="{% url 'searchorder_page' %}" method="post" class="form-control form-control-dark w-100 nav_form">
            {% csrf_token %}
            {{ search_order.number_oder }}
            <input type="submit" value="Enter">
        </form>
        <form action="{% url 'dateorder_page' %}" method="post" class="form-control form-control-dark w-100 nav_form">
            {% csrf_token %}
            {{ form_date.date_start }}
            {{ form_date.date_end }}
            <input type="submit" value="Enter">
        </form>
        <div class="navbar-nav">
            <div class="nav-item text-nowrap">
                <a class="nav-link px-3" href="{% url 'logout' %}">Выход</a>
            </div>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'account_page' %}">
                                <span data-feather="home"></span>
                                Панель
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'table_page' %}">
                                <span data-feather="users"></span>
                                Таблица
                            </a>
                    </ul>

                    <h6
                        class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Eamil</span>
                        <a class="link-secondary" href="#" aria-label="Add a new report">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'smtp_mail' %}">
                                <span data-feather="file-text"></span>
                                Получить отчет
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 p-0">
                <div class="justify-content-between flex-wrap flex-md-nowrap align-items-center border-bottom">
                    {% block content %}

                    {% endblock content %}
                </div>
            </main>
        </div>
    </div>

    <!-- Модальное окно -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="update">
                        <h5 class="damp_db">Обновление</h5>
                        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                            <span class="visually-hidden">Загрузка...</span>
                        </div>
                    </div>
                    <div class="update_true animate_hiden">
                        <h5 class="damp_db">Обновлено</h5>
                        <i class="bi bi-check-circle"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Модальное окно -->
    <div class="modal fade" id="import_all" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="import">
                        <h5 class="damp_db">Импорт EXEL</h5>
                        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                            <span class="visually-hidden">Загрузка...</span>
                        </div>
                    </div>
                    <div class="import_true animate_hiden">
                        <h5 class="damp_db">Успешно!</h5>
                        <i class="bi bi-check-circle"></i>
                        <br>
                        <br>
                        <a href="/media/myexel.xlsx"><button class="btn btn-success">Скачать файл</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Модальное окно -->
    <div class="modal fade" id="import_date" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="import_forme">
                        <h5 class="damp_db">Ипрорт по диапазону</h5>
                        <form action="" id="myNameForm" method="post" class="form-control form-control-dark w-100">
                            {% csrf_token %}
                            {{ form_date2.date_start }}
                            {{ form_date2.date_end }}
                            <input type="submit" class="btn btn-success" id="dateforme" value="Ипрорт">
                        </form>
                    </div>
                    <div class="import_date animate_hiden">
                        <h5 class="damp_db">Импорт EXEL</h5>
                        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                            <span class="visually-hidden">Загрузка...</span>
                        </div>
                    </div>
                    <div class="import_true_date animate_hiden">
                        <h5 class="damp_db">Успешно!</h5>
                        <i class="bi bi-check-circle"></i>
                        <br>
                        <br>
                        <a href="/media/myexel.xlsx"><button class="btn btn-success">Скачать файл</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'adminpanel/js/bootstrap.bundle.min.js' %}"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script>
        $('#dumpjson_page').on('click', function () {
            $('.update_true').removeClass('animate_hiden')
            $('.update').removeClass('animate_hiden')
            $('.update_true').addClass('animate_hiden')
            $.ajax({
                method: "GET",
                dataType: "json",
                url: "{% url 'dumpjson_page' %}",
                success: function () {
                    $('.update_true').removeClass('animate_hiden')
                    $('.update').addClass('animate_hiden')
                }
            })
            // function sayHi() {
            //     $('.update_true').removeClass('animate_hiden')
            //     $('.update').addClass('animate_hiden')
            // }

            // setTimeout(sayHi, 5000);

        })
        $('#import_all_button').on('click', function () {
            $('.import_true').removeClass('animate_hiden')
            $('.import').removeClass('animate_hiden')
            $('.import_true').addClass('animate_hiden')
            $.ajax({
                method: "GET",
                dataType: "json",
                url: "{% url 'importxl_all' %}",
                success: function () {
                    $('.import_true').removeClass('animate_hiden')
                    $('.import').addClass('animate_hiden')
                    console.log('true')
                }
            })
        })
        $('#import_date_button').on('click', function () {

            $('.import_forme').removeClass('animate_hiden')
            $('.import_date').removeClass('animate_hiden')
            $('.import_true_date').removeClass('animate_hiden')

            $('.import_date').addClass('animate_hiden')
            $('.import_true_date').addClass('animate_hiden')
        })
        $('#dateforme').click(function (event) {
            $('.import_forme').addClass('animate_hiden')
            $('.import_date').removeClass('animate_hiden')
            event.preventDefault(); //so that we stop normal form submit.
            $.ajax({
                url: "{% url 'importxl_all' %}",
                type: 'post',
                dataType: 'json',
                data: $('form#myNameForm').serialize(),
                success: function (data) {
                    $('.import_true_date').removeClass('animate_hiden')
                    $('.import_date').addClass('animate_hiden')
                    console.log('true')
                }
            });
        });
    </script>
</body>

</html>