{% extends 'adminpanel/base.html' %}
{% load static %}

{% block content %}
<div class="row m-2">
    <div class="col-lg-12">
        <p></p>
        <div class="card">
            <div class="card-header">
                Руководство
            </div>
            <div class="card-body">
                <h5 class="card-title">Импорт EXEL</h5>
                <p class="card-text">Импорт в таблицу EXEL возможен в нескольких вариантах</p>
                <button class="btn btn-primary">Полный импорт</button>
                <button class="btn btn-secondary">Импорт по диапазону</button>
                <button class="btn btn-success">Ипорт последних заказов</button>
            </div>
            <hr>
            <div class="card-body">
                <h5 class="card-title">Количество заказов в таблице</h5>
                <p class="card-text">Выводиться только последние 50 заказов, для получения большего числа стоит изменить значение в настройках либо сделать выборку по диапазону.</p>
                <p class="card-text">Для приемлемого времени ожидания формирования таблицы последних заказов в настройках советуем указывать диапазон заказов в районе 50-300 заказов. Стоит помнить что у каждого заказа может присутствовать более одной позиции товара.</p>
                <button class="btn btn-primary">Последние заказы</button>
                <button class="btn btn-primary">Выборка по диапазону</button>
                <button class="btn btn-danger">Изменить настройки</button>
            </div>
            <hr>
            <div class="card-body">
                <h5 class="card-title">Дамп данных</h5>
                <p class="card-text">Дамп данных в БД происходит кажду. 30-ю минуту часа в автоматическом режиме.</p>
                <p class="card-text">Так же вы можете обновить данные в ручном режиме. Доводим до вашего сведения что данная опреация может занять некоторое время. Обычно от 2 до 5 минут. Будть терпеливы.</p>
                <button class="btn btn-primary">Обновить Дамп</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}