{% extends 'adminpanel/base.html' %}

{% block content %}
<style>
    #table-content {
        padding: 0;
    }

    main div {
        height: 100%;
    }

    table {
        min-width: 100%;
    }
</style>
<table class="table table-sm table-bordered">
    <thead>
        <th>Каталожный номер </th>
        <th>Описание </th>
        <th>Бренд </th>
        <th>Наличие </th>
        <th>Цена </th>
    </thead>
    <tbody>
        {% for item in instanse %}
        <tr>
            <td>{{item.number_cat}}</td>
            <td>{{item.brand}}</td>
            <td>{{item.descriptions}}</td>
            <td>{{item.cuantity}}</td>
            <td>{{item.price}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}