{% extends 'adminpanel/base.html' %}
{% load mathfilters %}

{% block content %}

<table>
    <thead>
        <th>№ orders</th>
        <th>ID manager</th>
        <th>Data orders</th>
        <th>All price</th>
        <th>Paid</th>
        <th>Debt</th>
        <th>Name Client</th>
        <th>Phone</th>
    </thead>
    <tbody>
        {% for order in table %}
        <tr>
            <td>{{ order.number }}</td>
            <td>{{ order.managerId }}</td>
            <td>{{ order.date }}</td>
            <td>{{ order.sum }}</td>
            <td>{{ order.sum|sub:order.debt|floatformat:'0' }}</td>
            <td>{{ order.debt|floatformat:'0' }}</td>
            <th>{{ order.userName }}</th>
            <td>{{ order.mobile }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<style>
    th,
    td {
        padding: 5px;
        border: 1px solid;
        font-size: 12px !important;
    }
</style>
{% endblock content %}
<!-- <table>
    <tr>
        <th>1</th>
        <th>2</th>
    </tr>
    {% for item in users %}
    <tr>
        <td>{{ item.number }}</td>
        {% for task in item.positions %}
            {% if forloop.first %}
                <td>2</td>
                </tr>
            {% endif %}
            {% if forloop.last %}
                <td></td>
                <td>2</td>
                </tr>
            {% endif %}
            <td></td>
            <td>2</td>
            </tr>
        {% endfor %}
    {% endfor %}
</table>
 -->