{% extends 'adminpanel/base.html' %}


{% block content %}

{% endblock content %}
<!-- <table>
    <tr>
        <th>1</th>
        <th>2</th>
    </tr>
    {% for item in users %}
    <tr>
        <td>{{ item.number }}</td>
        {% for task in item.positions %}
            {% if forloop.first %}
                <td>2</td>
                </tr>
            {% endif %}
            {% if forloop.last %}
                <td></td>
                <td>2</td>
                </tr>
            {% endif %}
            <td></td>
            <td>2</td>
            </tr>
        {% endfor %}
    {% endfor %}
</table>
<style>
    th,
    td {
        padding: 5px;
        border: 1px solid;
        font-size: 12px !important;
    }
</style> -->